@import "node_modules/@epsilon/core-ui/assets/cui/sass/cui";

.Core-Table-row {
    .text-style-muted-3 {
        margin-top: $spacing-tiny;
    }
}

.tables-fixed-header {
    min-height: 530px;
    td {
        .loading-more {
            height: rem-calc(32);
            align-self: center;
            justify-self: center;
        }
    }
}