@import "node_modules/@epsilon/core-ui/assets/cui/sass/cui";

p {
    margin-bottom: $spacing-xxx-large;

    &.aboveButtons {
        margin-bottom: rem-calc(72);
    }
}

a {
    i {
        margin-right: $spacing-xxx-small;
    }
}

.info-container {
    display: flex;
    gap: $spacing-small;
    margin-bottom: $spacing-xxx-large;

    .info-content {
        display: flex;
        align-items: center;
        white-space: pre;
    }
}

.version {
    display: flex;
    justify-content: space-between;
    margin: $spacing-xxx-small $spacing-small;

    i {
        color: var(--coreui-component-secondary-text);
    }
}

coreui-menu-section > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Core-SiteContent-main {
    .PageHeader {
        margin-bottom: $spacing-small;
    }

    .PageHeader2 {
        margin-top: $spacing-super;
    }

    .PageHeader3 {
        margin-top: $spacing-small;
    }

    coreui-section-header {
        display: block;
        margin-top: $spacing-xxx-large;
    }

    .Core-Form {
        display: block;
    }
}

// Move to cuik style.scss during Design 2.0
.Core-SiteContent-nav {
    background-color: var(--coreui-nav-side-background);
}

// Move to cuik style.scss during Design 2.0
.Core-SiteContent-main {
    margin: $spacing-xxx-large;
    flex-grow: 1;
}